# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=postgres

# App
PORT=3000

# JWT
JWT_ACCESS_SECRET=replace-with-secure-random
JWT_REFRESH_SECRET=replace-with-secure-random
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
