# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=postgres

# App
PORT=3000

# JWT
JWT_SECRET=replace-with-secure-random
JWT_ACCESS_SECRET=replace-with-secure-random
JWT_REFRESH_SECRET=replace-with-secure-random
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d


BYCRYPT_SALT_ROUNDS=10